<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div style="width:100%">
    <div style="width:90%;margin:auto; padding-bottom: 10px;">

        <div style="font-size:17px;text-align:center">
            Hello <span style="font-weight: 600;text-transform: capitalize;">##Name##</span>
        </div>
        <div style="width:90%;margin:auto;background-color: #03a685;color: white;text-align:center;margin-top:20px;">
            <div style="padding:10px;">
                <div style="font-size:20px">
                    We are pleased to inform you that your order has been successfully placed on <span
                        style="font-size:13px"> ##curant_date##</span>
                </div>
                <div style="font-size:14px;margin-top:5px">
                    Thank you for choosing Jen and Jak! We are committed to providing you with a seamless shopping
                    experience. Your order is now confirmed and will be processed promptly.
                </div>
            </div>
        </div>
        <div style="width:90%;margin:auto;background-color: #e1f2f1;margin-top:20px;">
            <div style="padding:10px 20px;">
                <div style="color:#03a685;font-size:15px">
                    We anticipate delivering your order to you between [##start## to ##end## date]. Rest assured, we will
                    keep you updated on the status of your order, including when it is packed and shipped.
                </div>
                <div style="color:black;font-size:14px;margin-top:20px;">
                    In the meantime, if you have any questions or need further assistance, feel free to reach out to
                    our customer support team.

                </div>
            </div>
        </div>
        <div style="width:100%;background-color:#f5f5f6;margin-top:20px;border-radius:8px;">
            <div style="padding:10px 20px">
                <div style="width:100%;background-color:white;border-radius: 7px;">
                    <div style="padding:10px 20px">
                        <div style="font-size:18px;">
                            Order Details
                        </div>
                        <div style="font-size:14px;color: #cacacc;margin-top: 5px;">Your Order Id :</div>
                        <div style="font-size:16px;margin-top: 5px;">##OrderId##</div>
                    </div>

                </div>
                <div style="width:100%;background-color:white;border-radius:7px;margin-top: 5px;">
                    <div style="padding:10px 20px">
                        <div>
                            <table style="width:100%">
                                <tbody>
                                   ##tableContent##
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div style="background-color:white;border-radius:7px;margin-top: 10px;">
                    <div style="padding:10px 20px">
                        <div style="font-size:18px;font-weight: 600;">
                             Shipping Address
                        </div>
                        <div style="margin-top: 5px;text-transform: capitalize;">
                           <span style="font-size:15px; font-weight: 600;">##Name##</span>, <span style="font-size:15px;color: #cacacc;">
                             ##address##
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--            <div style="width:90%;margin:auto">-->
        <!--                <div style="font-size: 15px; margin-top: 10px;">-->
        <!--                    Hi, <span>##name##</span>-->
        <!--                </div>-->
        <!--                <div style=" color: black;font-size: 15px; margin-left: 4px;">-->
        <!--                    Just to let you Know we received your order, and it is now begin processed-->
        <!--                </div>-->
        <!--                <div style="color: #ED6D7D; margin: 5px 0px;font-size: 18px;">-->
        <!--                    ##current_date##-->
        <!--                </div>-->
        <!--                <div style="margin-top-10px">-->
        <!--                    <table style="width:100%;border-collapse: collapse;">-->
        <!--                        <thead>-->
        <!--                        <tr style=" border:1px solid #000000">-->

        <!--                            <th style="padding: 10px 3px;border:1px solid #000000;text-align:center;">Product</th>-->
        <!--                            <th style="padding: 10px 3px; border:1px solid #000000;text-align:center;">Quantity</th>-->
        <!--                            <th style="padding: 10px 3px;border:1px solid #000000;text-align:center;">Price</th>-->
        <!--                        </tr>-->
        <!--                        </thead>-->
        <!--                        <tbody>-->
        <!--                        ##tablecontent##-->

        <!--                        </tbody>-->
        <!--                        <tbody>-->
        <!--                        ##tablecontent2##-->
        <!--                        </tbody>-->
        <!--                    </table>-->
        <!--                </div>-->
        <!--                <div style=" color: #ED6D7D;font-size: 18px; margin: 5px 0px;">Shipping address</div>-->
        <!--                ##address_content##-->
        <!--            </div>-->

    </div>
</div>


</body>
</html>