<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div style="width:100%">
    <div style="width:600px;background-color:#ffffff;margin:auto; padding-bottom: 10px;">
        <div style="font-size:20px;color:#000000;margin-top: 10px;">
            JEN&JAK
        </div>
        <div style="font-size:18px;color:#000000;margin-top: 10px;">
            Your shipping status has been updated
        </div>
        <div style="font-size:15px;color:#3d3939; margin-top: 10px;">
            Please find the tracking number below .
        </div>
        <div style="font-size:15px;color:#ffffff;background-color:#C0C0C0;padding: 15px 10px; width: fit-content;border-radius: 3px;margin-top: 10px;">
            <a href="##link##" style="text-decoration:none;color:#000000;"> View your order</a>
        </div>
        <div style="font-size:15px;color:#3d3939; margin-top: 10px;">
            India Post tracking number: <span>##track_id##</span>
        </div>
        <div style="font-size:18px;color:#000000;margin-top: 50px;">
            Items in this shipment
        </div>
        <table style="margin-top:20px;">
            <tbody>
            ##tablecontent##
            </tbody>
        </table>

    </div>
</div>

</body>
</html>